In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import csv

In [2]:
attacks=pd.read_csv('attacks.csv',encoding='latin1')

In [3]:
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
#Creamos una copia del original:

attacks_original=attacks.copy()

In [5]:
dim_original=attacks.shape

In [6]:
attacks.shape, dim_original

((25723, 24), (25723, 24))

In [7]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
attacks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 22.8 MB

In [9]:
#Para quitar los espacios a los nombres de las columnas, y poder trabajar con mayor facilidad.
attacks.columns=[c.lower().replace(' ', '_').replace(':','').replace('.','') for c in attacks.columns]
attacks.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order,unnamed_22,unnamed_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [10]:
#Se va a comprobar cuantos valores nulos tienen las columnas.
nan_colums=attacks.isna().sum()
nan_colums

case_number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex_                      19986
age                       22252
injury                    19449
fatal_(y/n)               19960
time                      22775
species_                  22259
investigator_or_source    19438
pdf                       19421
href_formula              19422
href                      19421
case_number1              19421
case_number2              19421
original_order            19414
unnamed_22                25722
unnamed_23                25721
dtype: int64

In [11]:
#Esto sería para hacer lo mismo que en la celda superior.
#nan_colums[nan_colums>0]

In [12]:
#Escojo una de las variables con nulos, en este caso la que más nulos tiene, para comprobar el dato que me esta dando.
attacks.time.unique()

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30',
       '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15',
       '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [13]:
attacks.unnamed_23.unique()

array([nan, 'Teramo', 'change filename'], dtype=object)

In [14]:
nan_colums[nan_colums>2.3e4].index

Index(['unnamed_22', 'unnamed_23'], dtype='object')

In [15]:
#Quitamos las columnas que tienen la mayor parte de valores nulos, por lo que entendemos que no nos aportan ningún valor importante.
attacks.drop(columns=nan_colums[nan_colums>2.3e4].index, inplace=True)

In [16]:
#Comprobamos que que la dimensión cambia ya que se han se han eliminado dos columnas.
attacks.shape, dim_original

((25723, 22), (25723, 24))

In [17]:
#Comprobamos si alguna de las filas esta duplicada.
attacks.drop_duplicates().shape==attacks.shape

False

In [18]:
#Comprobamos que al devolver un False, significa que al menos una de las filas está duplicada. 
#No nos interesan filas duplicadas por tanto las eliminamos de la siguiente manera:
attacks.drop_duplicates(inplace=True)

In [19]:
#Comprobamos que se han eliminado muchas filas, al verificar el cambio de las dimensiones.
attacks.shape, dim_original

((6312, 22), (25723, 24))

In [20]:
#Creamos otra copia para guardar los cambios hasta este punto:
attacks_limpieza1=attacks.copy()

In [21]:
import re

In [22]:
attacks.case_number1.value_counts()

1920.00.00.b      2
1915.07.06.a.R    2
2009.12.18        2
2014.08.02        2
1952.08.04        2
                 ..
1999.09.10        1
1999.09.16        1
1999.09.18        1
1999.09.24        1
ND.0001           1
Name: case_number1, Length: 6285, dtype: int64

In [23]:
#re.findall('^\d{4}([\-\.])(0?[1-9]|1[1-2])\1(3[01]|[12][0-9]|0?[1-9])','1999.09.10')[0]

In [24]:
attacks.drop_duplicates().case_number1==attacks.case_number2

0         True
1         True
2         True
3         True
4         True
         ...
6307     False
6308     False
6309     False
8702     False
25722    False
Length: 6312, dtype: bool

In [25]:
(attacks.drop_duplicates().case_number1==attacks.case_number2).value_counts()

True     6282
False      30
dtype: int64

In [26]:
attacks.tail(11)

,case_number,date,year,type,country,area,location,activity,name,sex_,...,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
attacks.drop(attacks.tail(10).index, inplace = True)

In [28]:
attacks.tail(11)

,case_number,date,year,type,country,area,location,activity,name,sex_,...,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order
6291,ND.0011,Before 1911,0.0,Unprovoked,ASIA?,NaN,NaN,Swimming,Mr. Masury,M,...,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12.0
6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,...,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0
6293,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [29]:
attacks.shape

(6302, 22)

In [30]:
(attacks.drop_duplicates().case_number1==attacks.case_number2).value_counts()

True     6282
False      20
dtype: int64

In [31]:
print(attacks['case_number1'].equals(attacks['case_number2']))

False

In [32]:
attacks = attacks.drop(columns=['case_number2'])

In [33]:
attacks.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,href,case_number1,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,6299.0

In [34]:
(attacks.drop_duplicates().case_number1==attacks.case_number).value_counts()

True     6278
False      24
dtype: int64

In [35]:
 #Para comprobar en que filas están los valores que no son iguales a la comlumna que se está comprando se hace mediante el índice.

In [36]:
attacks = attacks.drop(columns=['case_number1'])

#Se comprueba que las columnas case_number, case_number1 y case_number2 son practicamente indénticas, con 6300 valores iguales frente a unos 20 direntes.
#Por este motivo, se decide eliminar case_number1 y case_number2.

In [37]:
attacks.shape, dim_original

((6302, 20), (25723, 24))

In [38]:
#Comprobamos que las columnas href_formula y href tienes una proporción grande.
(attacks.drop_duplicates().href_formula==attacks.href).value_counts()

True     6242
False      60
dtype: int64

In [39]:
#Se decide eliminar href al ser muy similar a href_formula.
attacks = attacks.drop(columns=['href'])

In [40]:
attacks.shape

(6302, 19)

In [41]:
nan_colums1=attacks.isna().sum()
nan_colums1

case_number                  1
date                         0
year                         2
type                         4
country                     50
area                       455
location                   540
activity                   544
name                       210
sex_                       565
age                       2831
injury                      28
fatal_(y/n)                539
time                      3354
species_                  2838
investigator_or_source      17
pdf                          0
href_formula                 1
original_order               0
dtype: int64

In [42]:
attacks.head()

,case_number,date,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,original_order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [43]:
#Se comprueba que las columnas case_number y date no son exactamente iguales, que la diferencia se encuentra basicamente en el formato.

In [44]:
attacks['case_number'].equals(attacks['date'])

False

In [45]:
#Al observar que la columna date presenta una mayor variedad de formatos del datos expresado, se toma la decisioón de mantener la columna de case_number, que expresa la fecha en la ue ha ocurrido el ataque.

In [46]:
attacks = attacks.drop(columns=['date'])

In [47]:
attacks.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [48]:
#Para unificar la expresión de los valores de case_number que dan una información de la fecha primero se van a eliminar las letras adheridas a la fecha, que no nos ofrecen ninguna información relevante.

In [49]:
#Eliminación de letras:

attacks['case_number'].dtype

dtype('O')

In [50]:
#Se crea una función para covertir todas las fechas de case_number al mismo formato. 


def limpiar_fecha(s):
    
    x = s.split('.')
    lista=[]
    
    for i in x:
        
        lista.append(i)
            
    return ('.'.join(lista[0:3]))

In [51]:
#Para poder aplicar la función a la columna, la covertimos en tipo category:

#for case_number in attacks.select_dtypes('object').columns:
    
#attacks[case_number]=attacks[case_number].astype('category')
    
attacks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6301 non-null   object
 1   year                    6300 non-null   float64
 2   type                    6298 non-null   object
 3   country                 6252 non-null   object
 4   area                    5847 non-null   object
 5   location                5762 non-null   object
 6   activity                5758 non-null   object
 7   name                    6092 non-null   object
 8   sex_                    5737 non-null   object
 9   age                     3471 non-null   object
 10  injury                  6274 non-null   object
 11  fatal_(y/n)             5763 non-null   object
 12  time                    2948 non-null   object
 13  species_                3464 non-null   object
 14  investigator_or_source  6285 non-null   object
 15  pdf                     6302 non-null   object
 16  href_formula            6301 non-null   object
 17  original_order          6302 non-null   float64
dtypes: float64(2), object(16)
memory usage: 7.0 MB

In [52]:
attacks['case_number'] = attacks['case_number'].astype('str')

In [53]:
#Se aplica la función a la comulna indicada:

attacks.case_number=attacks.case_number.apply(limpiar_fecha)

In [54]:
#Compramos que el formato de la fecha es igual para toda la columna:
attacks.tail()

,case_number,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,original_order
6297,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [55]:
#PROBLEMA CON ESTO. SI EL DÍA ES 00 NO LO COGE

#attacks.case_number=pd.to_datetime(attacks.case_number, format='%Y.%m.%d')

#type(attacks.case_number[0])

In [56]:
mal_index=attacks.case_number[attacks.case_number.isna()].index
mal_index

Int64Index([], dtype='int64')

In [57]:
#Se verifica que hay un dato nulo en la columna, y se toma la deción de sustituir el nulo por el valor superior.
attacks['case_number']=attacks['case_number'].ffill()

In [58]:
#Verifico que le dato se ha cambiado.
attacks.iloc[5487:5489]

,case_number,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,original_order
5487,1905.09.29,1905.0,Unprovoked,AUSTRALIA,New South Wales,"Waverly, Sydney",Swimming,Jame Crotty,M,NaN,FATAL. Shark involvement suspected but not con...,Y,NaN,NaN,"The Argus, 9/30/1905",1905.09.29-Crotty.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,816.0
5488,nan,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,NaN,Lacerations to leg from hooked shark PROVOKED ...,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,815.0

In [59]:
malas_fechas=attacks['case_number'].tolist()


malas_fechas[:6]

['2018.06.25',
 '2018.06.18',
 '2018.06.09',
 '2018.06.08',
 '2018.06.04',
 '2018.06.03']

In [60]:
attacks.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,original_order
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [61]:
#Lo hacemos para comprobar cuántas fechas tienen como día 00:

def contar_fechas(c):
    
    lista=[]
    
    for i in c:
        
        if i[8:10]=='00':
            
            lista.append(i)
    
    return len(lista)

In [62]:
contar_fechas(malas_fechas)

748

In [63]:
#Cambio las fechas de case_number que no tienen el formato año.mes.día

def quitar_fechas(a):
    
    for i in a:
        
        if len(a)!=10:
            
            return 'unknown'
        
        if len(a)==10:
            
            return a

In [64]:
attacks.case_number=attacks.case_number.apply(quitar_fechas)

In [65]:
#

In [66]:
mal_index2=attacks.year[attacks.year.isna()].index
mal_index2

Int64Index([187, 6079], dtype='int64')

In [67]:
attacks['year']=attacks['year'].ffill()

In [68]:
attacks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6302 non-null   object
 1   year                    6302 non-null   float64
 2   type                    6298 non-null   object
 3   country                 6252 non-null   object
 4   area                    5847 non-null   object
 5   location                5762 non-null   object
 6   activity                5758 non-null   object
 7   name                    6092 non-null   object
 8   sex_                    5737 non-null   object
 9   age                     3471 non-null   object
 10  injury                  6274 non-null   object
 11  fatal_(y/n)             5763 non-null   object
 12  time                    2948 non-null   object
 13  species_                3464 non-null   object
 14  investigator_or_source  6285 non-null   object
 15  pdf                     6302 non-null   object
 16  href_formula            6301 non-null   object
 17  original_order          6302 non-null   float64
dtypes: float64(2), object(16)
memory usage: 7.0 MB

In [69]:
#Convierto la columna de year en int para que el año quede como un entero.
#attacks['year'] = attacks['year'].astype('int')

In [70]:
attacks.tail()

,case_number,year,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),time,species_,investigator_or_source,pdf,href_formula,original_order
6297,unknown,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,unknown,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,unknown,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,unknown,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,unknown,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [71]:
#Para rellenar los valores de año que son igual a cero.

def cambiar_year(a):
    
    for i in [a]:
        
        if i>0:
            
            return i
        
        if i==0:
            
            return 'unknown'

In [72]:
attacks.year=attacks.year.apply(cambiar_year)

In [73]:
#Ahora continuamos con la columna Type,. Primero verificamos los datos unicos.

attacks.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [74]:
#Como desconocemos el como fue en los valores nulos, se sustituyen los mismos por 'unknown'.

#attacks.type.fillna(value='unknown', inplace=True)

#attacks_isnull = attacks.fillna({'type': 'unknown'})

In [75]:
attacks=attacks.rename(columns={'type': 'type_attack'})

In [76]:
mal_index5=attacks.type_attack[attacks.type_attack.isna()].index
mal_index5

Int64Index([85, 382, 4867, 5705], dtype='int64')

In [77]:
attacks.type_attack.fillna(value='unknown', inplace=True)

In [78]:
nan_colums4=attacks.isna().sum()
nan_colums4

case_number                  0
year                         0
type_attack                  0
country                     50
area                       455
location                   540
activity                   544
name                       210
sex_                       565
age                       2831
injury                      28
fatal_(y/n)                539
time                      3354
species_                  2838
investigator_or_source      17
pdf                          0
href_formula                 1
original_order               0
dtype: int64

In [79]:
#attacks['type_attack'] = attacks['type_attack'].astype('str')

In [80]:
#NO HACER ESTO

#for type_attack in attacks.select_dtypes('object').columns:
    
    #attacks[type_attack]=attacks[type_attack].astype('category')
    
#attacks.info(memory_usage='deep')

In [81]:
nan_colums4=attacks.isna().sum()
nan_colums4

case_number                  0
year                         0
type_attack                  0
country                     50
area                       455
location                   540
activity                   544
name                       210
sex_                       565
age                       2831
injury                      28
fatal_(y/n)                539
time                      3354
species_                  2838
investigator_or_source      17
pdf                          0
href_formula                 1
original_order               0
dtype: int64

In [82]:
attacks['country'] = attacks['country'].astype('str')

In [83]:
attacks_isnull = attacks.fillna({'country': 'unknown'})

In [84]:
nan_colums4=attacks.isna().sum()
nan_colums4

case_number                  0
year                         0
type_attack                  0
country                      0
area                       455
location                   540
activity                   544
name                       210
sex_                       565
age                       2831
injury                      28
fatal_(y/n)                539
time                      3354
species_                  2838
investigator_or_source      17
pdf                          0
href_formula                 1
original_order               0
dtype: int64

In [85]:
attacks.country.unique()[0:5]

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND'], dtype=object)

In [86]:
paises=attacks['country'].tolist()

In [87]:
#Ponemos el nombre de todos los paises en mayúscula.

attacks['country']=attacks['country'].str.upper()

In [88]:
attacks.country.unique()[0:5]

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND'], dtype=object)

In [89]:
import re

def limpiar_country(country):
    
    country=re.findall('\w+', country)
    country=' '.join(country)
    
    return country

In [90]:
#Quitamos carcteres especiales.

attacks.country=attacks.country.apply(limpiar_country)

In [91]:
attacks.country.unique()[0:10]

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS'], dtype=object)

In [92]:
#Se va a comprobar area.

attacks.area.unique()[0:10]

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall'], dtype=object)

In [93]:
attacks.area.fillna(value='unknown', inplace=True)

In [94]:
attacks.isna().sum()

case_number                  0
year                         0
type_attack                  0
country                      0
area                         0
location                   540
activity                   544
name                       210
sex_                       565
age                       2831
injury                      28
fatal_(y/n)                539
time                      3354
species_                  2838
investigator_or_source      17
pdf                          0
href_formula                 1
original_order               0
dtype: int64

In [95]:
attacks.location.fillna(value='unknown', inplace=True)

In [96]:
attacks.activity.fillna(value='unknown', inplace=True)

In [97]:
attacks.name.fillna(value='unknown', inplace=True)

In [98]:
def limpiar_activity(x):
    
    dicc_actividades = {"Fishing":re.search(".*[Ff](ishing|ISHING).*",str(x)),
                        "Swimming":re.search(".*[Ss](wimming|WIMMing).*",str(x)),
                        "Kite":re.search(".*[Kk](ite|ITE).*",str(x)),
                        "Walking":re.search(".*[Ww](alking|ALKING).*",str(x)),
                        "Boogie Board":re.search(".*[Bb](oogie|OOGIE).*",str(x)),
                        "Body Boarding":re.search(".*[Bb](ody|ODY).*",str(x)),
                        "Wind Surfing":re.search(".*[wW](ind|IND).*",str(x)),
                        "Boat":re.search(".*[Bb](oat|OAT).*",str(x)),
                        "Interact with sharks":re.search(".*[Ss](hark|HARK).*",str(x)),
                        "Diving":re.search(".*[Dd](iving|IVING).*",str(x)),
                        "Standing in water":re.search(".*[Ss](tand|TAND).*",str(x)),
                        "Paddling":re.search(".*[Pp](addl|ADDL).*",str(x)),
                        "Bathing":re.search(".*[Bb](athing|ATHING).*",str(x)),
                        "OverBoard":re.search(".*[Oo](verb|VERB).*",str(x)),
                        "Bathing":re.search(".*[Bb](athing|ATHING).*",str(x)),
                        "Floating":re.search(".*[Ff](loat|LOAT).*",str(x)),
                        "Jumping":re.search(".*[Jj](ump|UMP).*",str(x))}

    for key,values in dicc_actividades.items():        
        
        if values:            
            
            return key            
    
    return "other"

In [99]:
attacks.activity=attacks.activity.apply(limpiar_activity)

In [100]:
len(attacks.activity.unique())

17

In [101]:
attacks.shape, dim_original

((6302, 18), (25723, 24))

In [102]:
attacks.name.unique()

array(['Julie Wolfe', 'Adyson\xa0McNeely ', 'John Denges', ...,
       'A "chiefess"', 'Ahmun', 'Jules Patterson'], dtype=object)

from statistics import mean

def mean_Age(x):
    
    x = x.lower()
    num=re.findall('\d+', x)[:5]
    res = [eval(i) for i in num]
    
    if num:
        return mean(res)
    elif 'teen' in x:
        return 15.5
    elif 'young' in x:
        return 18.5
    elif 'adult' in x:
        return 49
    elif 'elderly' in x:
        return 70
    elif 'middle' in x :
        return 50
    elif '18months' in x:
        return 1.5
    elif '9months' in x:
        return 0.75
    elif '2to3months' in x:
        return 0.2
    else:
        return 0

In [103]:
attacks.name.fillna(value='unknown', inplace=True)

In [104]:
def change_name(name):
    
        if re.search('^[A-Z].+',str(name)):
            
            return name
        
        else:
            
            return 'unknown'

In [105]:
attacks.name=attacks.name.apply(change_name)

In [106]:
attacks.name

0                 Julie Wolfe
1             Adyson McNeely
2                 John Denges
3                     unknown
4              Gustavo Ramos
                ...
6297                  unknown
6298                    Ahmun
6299    Coast Guard personnel
6300          Jules Patterson
6301                  unknown
Name: name, Length: 6302, dtype: object